In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns 
import warnings
import os
os.chdir(r'/workspaces/demo-repo/src/')

import prepare_data, train, preprocess

warnings.filterwarnings('ignore')
pd.options.display.float_format = "{:,.2f}".format
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
config = prepare_data.load_config()

2023-08-26 02:35:14,592 - DEBUG - loading config.yml...

In [3]:
df = pd.read_csv("/workspaces/demo-repo/data/transfusion.csv")
df.head()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0

In [4]:
model = 'RandomForestClassifier'
ds_config = config['transfusion']

In [5]:
ds_config

{'name': 'transfusion',
 'input_file': {'name': 'transfusion.csv',
  'path': '/workspaces/demo-repo/data',
  'rename_cols': {'recency (months)': 'recency',
   'frequency (times)': 'recency',
   'monetary (c.c. blood)': 'monetary',
   'time (months)': 'time',
   'whether he/she donated blood in march 2007': 'donated_mar_2007'},
  'drop_nulls': ['donated_mar_2007']},
 'target': 'donated_mar_2007',
 'models': {'RandomForestClassifier': {'random_state': 42}}}

In [6]:
df = prepare_data.prepare(model, ds_config)

2023-08-26 02:35:21,685 - DEBUG - loading dataset transfusion.csv...
2023-08-26 02:35:21,704 - DEBUG - convert all column names to lowercase...
2023-08-26 02:35:21,707 - DEBUG - renaming column recency (months) to recency...
2023-08-26 02:35:21,715 - DEBUG - renaming column frequency (times) to recency...
2023-08-26 02:35:21,735 - DEBUG - renaming column monetary (c.c. blood) to monetary...
2023-08-26 02:35:21,740 - DEBUG - renaming column time (months) to time...
2023-08-26 02:35:21,747 - DEBUG - renaming column whether he/she donated blood in march 2007 to donated_mar_2007...
2023-08-26 02:35:21,755 - DEBUG - dropping NaN from ['donated_mar_2007']...

In [7]:
df.head()

   recency  recency  monetary  time  donated_mar_2007
0        2       50     12500    98                 1
1        0       13      3250    28                 1
2        1       16      4000    35                 1
3        2       20      5000    45                 1
4        1       24      6000    77                 0

In [8]:
if 'transform' in ds_config:
    df = preprocess.apply_preprocessing(df, model, ds_config)

In [9]:
train.train_and_predict(df, model, ds_config)

2023-08-26 02:35:39,202 - DEBUG - loading prepared data for training...
2023-08-26 02:35:39,209 - DEBUG - splitting train and test...
2023-08-26 02:35:39,875 - DEBUG - accuracy for RandomForestClassifier(): 0.7433155080213903