In [1]:
import numpy as np
import pandas as pd
import warnings
import os

import sys
sys.path.append('/workspaces/expenses')
import src.utils
import src.prepare_data

warnings.filterwarnings('ignore')
pd.options.display.float_format = "{:,.5f}".format
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
config = src.utils.load_config()
datasets = src.utils.load_data(config)
df = src.prepare_data.prepare(datasets)

The config.yml file read was successful.

In [3]:
# vson_members = pd.read_csv("/workspaces/expenses/data/vson_members.csv")
# vson_members.head()

In [3]:
df[df['expense_category'].isnull()].head()

,date,transaction_amount,merchant,file_name,transaction_type,expense_category
4,2023-06-02,-24.00000,GUMDOCTORS PARTNERSHIP EAST GOSFORD,CSVData_credit_outgoing.csv,expense,NaN
11,2023-02-02,-360.00000,SYDNEY ACADEMY OF CHES BURWOOD,CSVData_credit_outgoing.csv,expense,NaN
13,2023-01-31,-16.12000,FACEBK *TGJFSLPBF2 fb.me/ads IRL ## IR...,CSVData_credit_outgoing.csv,expense,NaN
16,2023-01-29,-61.94000,SOUTHERN GROUP PTY L WYONG NSW,CSVData_credit_outgoing.csv,expense,NaN
17,2023-01-28,-19.00000,EB GAMES ERINA,CSVData_credit_outgoing.csv,expense,NaN

In [6]:
df[df['merchant'].str.contains(r'20022315')]

,date,transaction_amount,merchant,file_name,transaction_type,expense_category
274,2022-10-16,"-1,508.40000",C.C.A.S. NetBank BPAY 94482 20022315 CCAS,CSVData_saving_outgoing.csv,expense,kids education
379,2022-09-16,"-1,508.40000",C.C.A.S. NetBank BPAY 94482 20022315 CCAS,CSVData_saving_outgoing.csv,expense,kids education
431,2022-08-16,"-1,508.40000",C.C.A.S. NetBank BPAY 94482 20022315 CCAS,CSVData_saving_outgoing.csv,expense,kids education
514,2022-07-16,"-1,508.40000",C.C.A.S. NetBank BPAY 94482 20022315 CCAS,CSVData_saving_outgoing.csv,expense,kids education
546,2022-06-16,"-1,508.40000",C.C.A.S. NetBank BPAY 94482 20022315 CCAS,CSVData_saving_outgoing.csv,expense,kids education
609,2022-05-16,"-1,508.40000",C.C.A.S. NetBank BPAY 94482 20022315 CCAS,CSVData_saving_outgoing.csv,expense,kids education
716,2022-04-16,"-1,508.40000",C.C.A.S. NetBank BPAY 94482 20022315 CCAS,CSVData_saving_outgoing.csv,expense,kids education
794,2022-03-16,"-1,508.40000",C.C.A.S. NetBank BPAY 94482 20022315 CCAS,CSVData_saving_outgoing.csv,expense,kids education
878,2022-02-16,"-1,508.40000",C.C.A.S. NetBank BPAY 94482 20022315 CCAS,CSVData_saving_outgoing.csv,expense,kids education

In [10]:
df.shape

(990, 6)

In [9]:
calc = (df
          .groupby(['expense_category', 'merchant'])
          .agg(count=('merchant', 'count')
            , sum=('transaction_amount', 'sum')
            , date_from=('date', 'min')
            , date_to=('date', 'max')
                    )
          .reset_index()
)
calc.head(2)

,expense_category,merchant,count,sum,date_from,date_to
0,AGL - Electricity,AGL SALES 0308 MELBOURNE VIC,3,"-1,099.30000",2022-02-12,2022-07-06
1,AGL - GAS,AGL RETAIL ENERGY LIM SYDNEY,1,-39.85000,2022-02-15,2022-02-15

In [7]:
calc2 = (df[df['expense_category'].isnull()]
          .groupby(['merchant'])
          .agg(count=('merchant', 'count')
            , sum=('transaction_amount', 'sum')
            , date_from=('date', 'min')
            , date_to=('date', 'max')
                    )
          .reset_index()
)
calc2.sort_values(by=['count'], ascending=[False]).head()

,merchant,count,sum,date_from,date_to
228,Transfer Fee,7,-42.00000,2022-05-08,2022-12-27
199,SUTCLIFFE & MORT PTY ERINA AU Card xx4289,7,-184.45000,2022-01-29,2023-01-27
2,ALDI STORES - POINT CL POINT CLARE AU,4,-661.27000,2022-03-13,2022-10-24
182,SPOTLIGHT 024 WEST GOSFORD AU,4,-115.74000,2022-04-30,2022-10-04
12,ANACONDA WEST GO WEST GOSFORD AU,4,-539.06000,2022-04-16,2022-10-04

In [5]:
calc.sort_values(by=['count'], ascending=[False])

                expense_category  count           sum  date_from    date_to
11                       grocery    212 -11,656.06000 2022-01-10 2022-12-29
7                        eat out     61  -1,489.03000 2022-01-05 2022-12-30
22                    stationary     36  -1,545.73000 2022-01-10 2022-12-24
4                       beverage     33  -1,353.14000 2022-02-09 2022-12-24
15                     insurance     32  -2,688.09000 2022-02-22 2022-09-23
9                           fuel     32  -2,758.33000 2022-01-07 2022-12-29
10                     gardening     29  -1,513.84000 2022-02-07 2022-12-29
20  professional membership - kb     23    -532.80000 2022-01-04 2022-12-23
6                       clothing     22  -1,788.92000 2022-01-11 2022-11-29
18                life insurance     22  -4,447.23000 2022-02-15 2022-12-18
3                  aamas recipes     20  -3,665.80000 2022-01-07 2022-12-18
13              health insurance     15  -4,657.73000 2022-02-16 2022-12-12
5                        chemist     13    -439.47000 2022-04-10 2022-12-16
21            property insurance     12  -1,051.44000 2022-10-19 2022-12-22
23             streaming service     11    -186.89000 2022-02-17 2022-12-17
1                      AGL - GAS     10    -496.72000 2022-02-15 2022-11-28
16                      internet     10    -616.00000 2022-05-04 2022-10-10
25                       vehicle      9  -1,078.15000 2022-04-24 2022-11-09
8                    electronics      7    -134.46000 2022-02-02 2022-12-24
2                        Vehicle      7  -2,661.90000 2022-09-11 2022-12-21
24                     transport      7    -167.40000 2022-10-11 2022-12-28
14                      holidays      6  -1,259.00000 2022-04-19 2022-09-27
12             health & welbeing      6    -680.29000 2022-06-20 2022-12-29
19                 nepal expense      5     -11.57000 2022-03-07 2022-11-08
0              AGL - Electricity      3  -1,099.30000 2022-02-12 2022-07-06
17       langford dr maintenance      1    -199.00000 2022-03-23 2022-03-23

In [18]:
df[df['expense_category']=='beverage'].sort_values(by=['date'], ascending=[True]).head()

,date,transaction_amount,merchant,file_name,transaction_type,expense_category
248,2022-02-09,-14.00000,LIQUORLAND 3505 KARIONG AUS,credit.csv,expense,beverage
295,2022-05-10,-120.94000,DAN MURPHY'S 1839 ERINA NSW AU Cash Out $50.00...,saving.csv,expense,beverage
440,2022-05-28,-77.93000,DAN MURPHY'S 1928 WEST GOSFORDAUS,credit.csv,expense,beverage
598,2022-06-14,-19.98000,DAN MURPHY'S 1928 WEST GOSFORD AU AUS Card xx4...,saving.csv,expense,beverage
404,2022-06-17,-43.93000,DAN MURPHY'S 1928 WEST GOSFORDAUS,credit.csv,expense,beverage

In [24]:
df[df['file_name']=='saving.csv']

,date,transaction_amount,merchant,file_name,transaction_type,expense_category
0,2022-12-30,-5.70000,MCDONALDS GOSFORD WST WEST GOSFORD AUS Card xx...,saving.csv,expense,eat out
1,2022-12-30,-2.55000,MCDONALDS GOSFORD WST WEST GOSFORD AUS Card xx...,saving.csv,expense,eat out
2,2022-12-30,-34.76000,MEMET ARSLAN MANLY AUS Card xx4263 Value Date:...,saving.csv,expense,eat out
3,2022-12-30,-21.60000,ROYAL COPENHAGEN CIR SYDNEY AUS Card xx4263 Va...,saving.csv,expense,eat out
4,2022-12-29,-60.00000,ACUPUNCTURE MASSAG ERINA FAIR NS AUS Card xx42...,saving.csv,expense,health & welbeing
5,2022-12-29,-5.20000,WOOLWORTHS 1111 TUGGERAH AU AUS Card xx4263 Va...,saving.csv,expense,grocery
6,2022-12-29,-65.43000,COLES 0821 WEST GOSFORD AU AUS Card xx4263 Val...,saving.csv,expense,grocery
7,2022-12-29,-13.50000,AMPOL KARIONG 28650F KARIONG AUS Card xx4263 V...,saving.csv,expense,NaN
8,2022-12-29,-80.38000,BUNNINGS 569000 TUGGERAH AUS Card xx4263 Value...,saving.csv,expense,gardening
9,2022-12-29,-25.90000,EDO SUSHI & BBQ REST MANLY NS AUS Card xx4263 ...,saving.csv,expense,eat out
10,2022-12-29,-99.68000,7-ELEVEN 2286 WAHROONGA NS AUS Card xx4263 Val...,saving.csv,expense,fuel
11,2022-12-29,-3.00000,7-ELEVEN 2286 WAHROONGA NS AUS Card xx4263 Val...,saving.csv,expense,fuel
12,2022-12-29,-3.00000,AMPOL KARIONG 28650F KARIONG AUS Card xx4263 V...,saving.csv,expense,NaN
13,2022-12-28,"-1,033.00000",Loan Repayment LN REPAY 467079445,saving.csv,expense,NaN
17,2022-12-27,-6.00000,Transfer Fee,saving.csv,expense,NaN
18,2022-12-27,-238.65000,IMT 02103874540018 Tika Bhattarai Upadha REF C...,saving.csv,expense,NaN
20,2022-12-26,-5.00000,Transfer to CBA A/c NetBank Aarnav,saving.csv,expense,NaN
21,2022-12-26,-5.00000,Transfer to CBA A/c NetBank Aarav,saving.csv,expense,NaN
22,2022-12-25,-8.00000,AMPOL KARIONG 28650F KARIONG AU Card xx4263,saving.csv,expense,NaN
23,2022-12-24,-103.98000,ALDI STORES - POINT CL POINT CLARE AU Cash Out...,saving.csv,expense,NaN
24,2022-12-24,-39.00000,Bing Lee Electrics West Gosford AU AUS Card xx...,saving.csv,expense,electronics
25,2022-12-24,-13.99000,REBEL WEST GOSFORD WEST GOSFORD NS AUS Card xx...,saving.csv,expense,NaN
26,2022-12-24,-8.45000,KFC WEST GOSFORD QPS GOSFORD AUS Card xx4263 V...,saving.csv,expense,eat out
27,2022-12-23,-716.00000,Loan Repayment LN REPAY 466013145,saving.csv,expense,NaN
29,2022-12-23,-19.17000,Drifters Wharf Gosford NS AUS Card xx4289 Valu...,saving.csv,expense,NaN
30,2022-12-22,"-1,897.00000",Loan Repayment LN REPAY 565288523,saving.csv,expense,NaN
31,2022-12-21,-50.00000,WOOLWORTHS 1100 GOSFORD NSW AU Cash Out $50.00,saving.csv,expense,grocery
32,2022-12-21,-61.20000,COLES 0821 WEST GOSFORD AU AUS Card xx4289 Val...,saving.csv,expense,grocery
33,2022-12-21,-7.90000,COLES 0905 WOY WOY AU AUS Card xx4263 Value Da...,saving.csv,expense,grocery
34,2022-12-20,-40.40000,KFC WEST GOSFORD GOSFORD AUS Card xx4263 Value...,saving.csv,expense,eat out
35,2022-12-19,-546.00000,Loan Repayment LN REPAY 784415158,saving.csv,expense,NaN
36,2022-12-19,-982.00000,Loan Repayment LN REPAY 566498311,saving.csv,expense,NaN
37,2022-12-19,"-3,500.00000",Transfer to xx9452 CommBank app Credit card,saving.csv,expense,NaN
38,2022-12-19,-5.00000,Transfer to CBA A/c NetBank Aarnav,saving.csv,expense,NaN
39,2022-12-19,-5.00000,Transfer to CBA A/c NetBank Aarav,saving.csv,expense,NaN
40,2022-12-18,-21.90000,MAYALU MINI MARKET HURSTVILLE AU Card xx4289,saving.csv,expense,grocery
41,2022-12-17,-118.47000,UBER *TRIP Sydney AU AUS Card xx4263 Value Dat...,saving.csv,expense,NaN
42,2022-12-16,-500.00000,Loan Repayment LN REPAY 565288515,saving.csv,expense,NaN
43,2022-12-16,-500.00000,TAX OFFICE PAYMENTS NetBank BPAY 75556 5510043...,saving.csv,expense,NaN
44,2022-12-16,-65.67000,COLES 0821 WEST GOSFORD AU AUS Card xx4289 Val...,saving.csv,expense,grocery
50,2022-12-14,-50.01000,CWH TAMWORTH CENTRAL TAMWORTH NS AUS Card xx42...,saving.csv,expense,NaN
52,2022-12-13,-23.78000,CWH TAMWORTH CENTRAL TAMWORTH NS AUS Card xx42...,saving.csv,expense,NaN
53,2022-12-12,-5.00000,Transfer to CBA A/c NetBank Aarnav,saving.csv,expense,NaN
54,2022-12-12,-5.00000,Transfer to CBA A/c NetBank Aarav,saving.csv,expense,NaN
55,2022-08-12,-125.00000,CAROL VANBEEK CAMDEN AU Card xx4289,saving.csv,expense,NaN
56,2022-07-12,-109.00000,COLES 0885 ERINA AU Cash Out $100.00 Purchase ...,saving.csv,expense,grocery
57,2022-07-12,-20.00000,Transfer to CBA A/c CommBank app Aarnav lunch,saving.csv,expense,NaN
58,2022-07-12,-20.00000,Transfer to CBA A/c CommBank app Aarav lunch,saving.csv,expense,NaN
59,2022-07-12,-2.85000,MCDONALDS DT 0118 WEST GOSFORD AUS Card xx4263...,saving.csv,expense,eat out
60,2022-05-12,-5.00000,Transfer to CBA A/c NetBank Aarnav,saving.csv,expense,NaN
61,2022-05-12,-5.00000,Transfer to CBA A/c NetBank Aarav,saving.csv,expense,NaN
62,2022-04-12,-27.08000,HOME AND BEYOND CENTRAL C ERINA NSW AU Card xx...,saving.csv,expense,grocery
63,2022-04-12,-29.60000,PROUDS 236 ERINA AU,saving.csv,expense,NaN
64,2022-02-12,-500.00000,Loan Repayment LN REPAY 565288515,saving.csv,expense,NaN
65,2022-02-12,-82.20000,AMPOL GOSFORD W 22582F WEST GOSFORD AU Card xx...,saving.csv,expense,NaN
72,2022-11-30,-4.00000,MCDONALDS GOSFORD WST WEST GOSFORD AUS Card xx...,saving.csv,expense,eat out
73,2022-11-29,-11.79000,COTTON ON KIDS 2264 ERINA NS AUS Card xx4289 V...,saving.csv,expense,NaN
74,2022-11-29,-37.63000,MYER ERINA ERINA NS AUS Card xx4289 Value Date...,saving.csv,expense,clothing
75,2022-11-29,-94.91000,BIG W 0178 ERINA AU AUS Card xx4289 Value Date...,saving.csv,expense,clothing
76,2022-11-29,-3.50000,THE TIMES CAFE KARIONG NS AUS Card xx4263 Valu...,saving.csv,expense,NaN
77,2022-11-29,-4.75000,COLES 0860 HORNSBY AU AUS Card xx4263 Value Da...,saving.csv,expense,grocery
78,2022-11-29,-126.00000,COLES 0860 HORNSBY AU AUS Card xx4263 Value Da...,saving.csv,expense,grocery
79,2022-11-29,-415.60000,CENTRAL COAST COUNC. NetBank BPAY 5033 0429559...,saving.csv,expense,NaN
80,2022-11-28,-5.00000,Transfer to CBA A/c NetBank Aarnav,saving.csv,expense,NaN
81,2022-11-28,-5.00000,Transfer to CBA A/c NetBank Aarav,saving.csv,expense,NaN
82,2022-11-27,-18.95000,HOME AND BEYOND CENTRAL C ERINA NSW AU Card xx...,saving.csv,expense,grocery
83,2022-11-27,-10.99000,KATHMANDU EXPRESS GOSFORD AU,saving.csv,expense,grocery
84,2022-11-27,-13.43000,KATHMANDU EXPRESS GOSFORD AU,saving.csv,expense,grocery
85,2022-11-27,"-3,500.00000",Transfer to xx9452 NetBank Credit card,saving.csv,expense,NaN
86,2022-11-25,"-1,033.00000",Loan Repayment LN REPAY 467079445,saving.csv,expense,NaN
87,2022-11-25,-40.46000,HFM ERINA ERINA AU Card xx4289,saving.csv,expense,grocery
88,2022-11-25,-69.90000,PROUDS 236 ERINA AU,saving.csv,expense,NaN
89,2022-11-25,-11.95000,KFC WEST GOSFORD QPS GOSFORD AUS Card xx4263 V...,saving.csv,expense,eat out
90,2022-11-24,-76.07000,COLES 0821 WEST GOSFORD AU AUS Card xx4289 Val...,saving.csv,expense,grocery
91,2022-11-23,-604.00000,Loan Repayment LN REPAY 466013145,saving.csv,expense,NaN
92,2022-11-23,-9.99000,REBEL WEST GOSFORD WEST GOSFORD NS AUS Card xx...,saving.csv,expense,NaN
93,2022-11-23,-123.19000,7-ELEVEN 2222 GOSFORD NS AUS Card xx4263 Value...,saving.csv,expense,fuel
94,2022-11-23,-51.94000,CHEMIST WAREHOUSE BUCKETTY NS AUS Card xx4263 ...,saving.csv,expense,chemist
95,2022-11-23,-16.45000,OPORTO GLENMORE PARK NS AUS Card xx4263 Value ...,saving.csv,expense,NaN
96,2022-11-23,-1.70000,MCDONALDS GOSFORD WST WEST GOSFORD AUS Card xx...,saving.csv,expense,eat out
97,2022-11-23,-10.00000,MOVAN ORIENTAL HORNSBY NS AUS Card xx4263 Valu...,saving.csv,expense,NaN
98,2022-11-22,"-1,897.00000",Loan Repayment LN REPAY 565288523,saving.csv,expense,NaN
99,2022-11-22,-20.00000,KMART 1204 ERINA AU AUS Card xx4289 Value Date...,saving.csv,expense,NaN
100,2022-11-22,-8.80000,COLES 0885 ERINA AU AUS Card xx4263 Value Date...,saving.csv,expense,grocery
101,2022-11-22,-110.00000,STARRAYS TEX PTY LTD PARRAMATTA NS AUS Card xx...,saving.csv,expense,NaN
102,2022-11-22,-16.87000,DRAJ ENTERPRISE PTY GOSFORD NS AUS Card xx4263...,saving.csv,expense,NaN
103,2022-11-22,-76.70000,SUPER FRESH GROCER H HORNSBY NS AUS Card xx426...,saving.csv,expense,NaN
104,2022-11-22,-9.75000,OFFICEWORKS 0211 WEST GOSFORD AU AUS Card xx42...,saving.csv,expense,stationary
105,2022-11-22,-9.03000,ZOZAN KEBABS HORNSBY HORNSBY AU AUS Card xx426...,saving.csv,expense,NaN
106,2022-11-22,-15.02000,DRAJ ENTERPRISE PTY GOSFORD NS AUS Card xx4263...,saving.csv,expense,NaN
108,2022-11-21,-982.00000,Loan Repayment LN REPAY 566498311,saving.csv,expense,NaN
109,2022-11-21,-5.00000,Transfer to CBA A/c NetBank Aarnav,saving.csv,expense,NaN
110,2022-11-21,-5.00000,Transfer to CBA A/c NetBank Aarav,saving.csv,expense,NaN
111,2022-11-19,-9.57000,DOTTI HORNSBY AU Card xx4289,saving.csv,expense,NaN
112,2022-11-19,-50.25000,DOTTI HORNSBY AU Card xx4289,saving.csv,expense,NaN
113,2022-11-19,-60.00000,H AND V PTY LTD HORNSBY AU Card xx4263,saving.csv,expense,NaN
114,2022-11-19,-16.75000,MCDONALDS HORNSBY HORNSBY NSWAU,saving.csv,expense,eat out
115,2022-11-19,-65.00000,COLES 0885 ERINA AU AUS Card xx4263 Value Date...,saving.csv,expense,grocery
116,2022-11-18,-546.00000,Loan Repayment LN REPAY 784415158,saving.csv,expense,NaN
117,2022-11-18,-500.00000,Loan Repayment LN REPAY 565288515,saving.csv,expense,NaN
118,2022-11-18,-39.00000,Just Cuts Erina Erina AU,saving.csv,expense,NaN
119,2022-11-17,-20.00000,KMART 1204 ERINA AU AUS Card xx4263 Value Date...,saving.csv,expense,NaN
122,2022-11-16,-200.00000,TAX OFFICE PAYMENTS NetBank BPAY 75556 5510084...,saving.csv,expense,NaN
123,2022-11-16,-500.00000,TAX OFFICE PAYMENTS NetBank BPAY 75556 5510043...,saving.csv,expense,NaN
124,2022-11-16,-113.95000,COLES 0821 WEST GOSFORD AU AUS Card xx4289 Val...,saving.csv,expense,grocery
125,2022-11-15,-16.90000,PappysChargrillChicken Sydney NS AUS Card xx42...,saving.csv,expense,NaN
126,2022-11-15,-197.07000,COLES 0821 WEST GOSFORD AU AUS Card xx4263 Val...,saving.csv,expense,grocery
128,2022-11-14,-5.00000,Transfer to CBA A/c NetBank Aarnav,saving.csv,expense,NaN
129,2022-11-14,-5.00000,Transfer to CBA A/c NetBank Aarav,saving.csv,expense,NaN
130,2022-12-11,-4.50000,AMPOL GOSFORD W 22759F WEST GOSFORD AU Card xx...,saving.csv,expense,NaN
131,2022-12-11,-40.00000,COLES 0821 WEST GOSFORD AU AUS Card xx4289 Val...,saving.csv,expense,grocery
132,2022-11-11,-28.06000,THE BASE WARHSE MENA ERINA NSWAU,saving.csv,expense,NaN
133,2022-11-11,-9.32000,Saint Dreux Sydney NS AUS Card xx4263 Value Da...,saving.csv,expense,NaN
134,2022-10-11,-4.00000,MCDONALDS WOY WOY WOY WOY BAY AUS Card xx4263 ...,saving.csv,expense,eat out
135,2022-09-11,-6.00000,Transfer Fee,saving.csv,expense,NaN
136,2022-09-11,-255.00000,IMT 02103874540018 Tika Bhattarai Upadha REF C...,saving.csv,expense,NaN
137,2022-09-11,-8.99000,COLES 0905 WOY WOY AU AUS Card xx4263 Value Da...,saving.csv,expense,grocery
138,2022-09-11,-110.63000,7-ELEVEN 2144 ERINA NS AUS Card xx4263 Value D...,saving.csv,expense,fuel
139,2022-08-11,-62.17000,COLES 0821 WEST GOSFORD AU AUS Card xx4289 Val...,saving.csv,expense,grocery
140,2022-08-11,-21.99000,DAN MURPHY'S 1928 WEST GOSFORD AU AUS Card xx4...,saving.csv,expense,beverage
141,2022-08-11,-9.75000,WOOLWORTHS 1100 GOSFORD AU AUS Card xx4263 Val...,saving.csv,expense,grocery
142,2022-08-11,-6.60000,COLES 0821 WEST GOSFORD AU AUS Card xx4263 Val...,saving.csv,expense,grocery
143,2022-08-11,-60.00000,COLES 0821 WEST GOSFORD AU AUS Card xx4263 Val...,saving.csv,expense,grocery
144,2022-08-11,-13.50000,OFFICEWORKS 0211 WEST GOSFORD AU AUS Card xx42...,saving.csv,expense,stationary
145,2022-08-11,-62.00000,Constant Craving Cake WEST GOSFORD NS AUS Card...,saving.csv,expense,NaN
146,2022-08-11,-4.99000,Namaste Australian Wyoming NS AUS Card xx4263 ...,saving.csv,expense,grocery
147,2022-08-11,-7.93000,Namaste Australian Wyoming NS AUS Card xx4263 ...,saving.csv,expense,grocery
148,2022-08-11,-22.53000,Namaste Australian Wyoming NS AUS Card xx4263 ...,saving.csv,expense,grocery
149,2022-08-11,-9.99000,AG's Creatives Jesmond NS AUS Card xx4263 Valu...,saving.csv,expense,NaN
150,2022-07-11,-5.00000,Transfer to CBA A/c NetBank Aarnav,saving.csv,expense,NaN
151,2022-07-11,-5.00000,Transfer to CBA A/c NetBank Aarav,saving.csv,expense,NaN
152,2022-05-11,-28.00000,MANIZH HOLDING PTY. LTD. GOSFORD NSW AU,saving.csv,expense,NaN
153,2022-05-11,-29.32000,YI YI ASIAN CUISINE PTY L GOSFORD NSW AU,saving.csv,expense,NaN
154,2022-05-11,-82.35000,THE REJECT SHOP GOSFORD AU,saving.csv,expense,NaN
155,2022-04-11,-500.00000,Loan Repayment LN REPAY 565288515,saving.csv,expense,NaN
156,2022-04-11,-52.24000,HFM ERINA ERINA AU,saving.csv,expense,grocery
157,2022-04-11,-14.95000,PLINEPH WOY WOY WOY WOY AUS Card xx4263 Value ...,saving.csv,expense,NaN
158,2022-04-11,-8.90000,KFC WEST GOSFORD QPS GOSFORD AUS Card xx4263 V...,saving.csv,expense,eat out
159,2022-03-11,-18.00000,SPOTLIGHT 024 WEST GOSFORD NS AUS Card xx4263 ...,saving.csv,expense,NaN
160,2022-03-11,-15.37000,COLES 0905 WOY WOY AU AUS Card xx4263 Value Da...,saving.csv,expense,grocery
164,2022-01-11,-70.10000,RIVERS 8055 ERINA NS AUS Card xx4289 Value Dat...,saving.csv,expense,clothing
167,2022-10-31,-5.00000,Transfer to CBA A/c NetBank Aarnav,saving.csv,expense,NaN
168,2022-10-31,-5.00000,Transfer to CBA A/c NetBank Aarav,saving.csv,expense,NaN
169,2022-10-29,-46.25000,COLES EXPRESS 1721 OURIMBAH AU AUS Card xx4263...,saving.csv,expense,grocery
171,2022-10-28,-11.95000,KFC WEST GOSFORD GOSFORD AU Card xx4289,saving.csv,expense,eat out
172,2022-10-28,-77.39000,AMPOL GOSFORD W 22582F WEST GOSFORD AU Card xx...,saving.csv,expense,NaN
173,2022-10-28,"-3,000.00000",Transfer to xx9452 NetBank Credit card,saving.csv,expense,NaN
174,2022-10-28,-58.99000,BIG W 0178 ERINA AU AUS Card xx4289 Value Date...,saving.csv,expense,clothing
175,2022-10-28,-51.15000,MYER ERINA ERINA NS AUS Card xx4289 Value Date...,saving.csv,expense,clothing
176,2022-10-28,-63.30000,COLES 0885 ERINA AU AUS Card xx4289 Value Date...,saving.csv,expense,grocery
177,2022-10-28,-14.95000,OFFICEWORKS 0211 WEST GOSFORD AU AUS Card xx42...,saving.csv,expense,stationary
178,2022-10-28,-1.50000,OFFICEWORKS 0211 WEST GOSFORD AU AUS Card xx42...,saving.csv,expense,stationary
179,2022-10-28,-50.00000,Tatts Online Pty Ltd Melbourne AU AUS Card xx4...,saving.csv,expense,NaN
180,2022-10-26,-9.80000,NEXTRA ERINA CORNER Erina AU,saving.csv,expense,NaN
181,2022-10-26,-40.00000,DOTTI ERINA AU Card xx4289,saving.csv,expense,NaN
182,2022-10-26,-18.07000,COLES 0821 WEST GOSFORD AU AUS Card xx4263 Val...,saving.csv,expense,grocery
183,2022-10-26,-21.40000,THREEACRES P/L GREENACRE NS AUS Card xx4263 Va...,saving.csv,expense,NaN
184,2022-10-26,-33.98000,BUNNINGS 390000 WEST GOSFORD AUS Card xx4263 V...,saving.csv,expense,gardening
185,2022-10-26,-46.48000,BUNNINGS 390000 WEST GOSFORD AUS Card xx4263 V...,saving.csv,expense,gardening
186,2022-10-25,"-1,033.00000",Loan Repayment LN REPAY 467079445,saving.csv,expense,NaN
187,2022-10-25,-75.00000,BUNNINGS 390000 WEST GOSFORD AU Card xx4263,saving.csv,expense,gardening
188,2022-10-25,-6.40000,COLES 0821 WEST GOSFORD AU AUS Card xx4263 Val...,saving.csv,expense,grocery
189,2022-10-25,-72.00000,COLES 0821 WEST GOSFORD AU AUS Card xx4263 Val...,saving.csv,expense,grocery
190,2022-10-25,-37.80000,RAJDHANI WEST GOSFOR WEST GOSFORD AUS Card xx4...,saving.csv,expense,NaN
191,2022-10-25,-36.29000,BUNNINGS 390000 WEST GOSFORD AUS Card xx4263 V...,saving.csv,expense,gardening
192,2022-10-25,-11.00000,WOOLWORTHS 1100 GOSFORD AU AUS Card xx4263 Val...,saving.csv,expense,grocery
193,2022-10-25,-15.00000,LIQUORLAND 3539 ERINA AU AUS Card xx4263 Value...,saving.csv,expense,beverage
194,2022-10-25,-12.00000,COLES 0885 ERINA AU AUS Card xx4263 Value Date...,saving.csv,expense,grocery
195,2022-10-25,-20.12000,COLES 0885 ERINA AU AUS Card xx4263 Value Date...,saving.csv,expense,grocery
196,2022-10-25,-4.20000,Roll'd Erina Fair Erina NS AUS Card xx4263 Val...,saving.csv,expense,NaN
197,2022-10-25,-19.95000,BARBEQUES GALORE AUST ERINA AUS Card xx4263 Va...,saving.csv,expense,NaN
198,2022-10-25,-13.02000,BUNNINGS 390000 WEST GOSFORD AUS Card xx4263 V...,saving.csv,expense,gardening
199,2022-10-24,"-1,897.00000",Loan Repayment LN REPAY 565288523,saving.csv,expense,NaN
200,2022-10-24,-604.00000,Loan Repayment LN REPAY 466013145,saving.csv,expense,NaN
201,2022-10-24,-87.10000,ALDI STORES - POINT CL POINT CLARE AU,saving.csv,expense,NaN
202,2022-10-24,-44.95000,PLINEPH WOY WOY WOY WOY NSWAU,saving.csv,expense,NaN
203,2022-10-24,-21.13000,MAYALU MINI MARKET HURSTVILLE AU Card xx4289,saving.csv,expense,grocery
204,2022-10-24,-50.00000,Transfer to CBA A/c CommBank app Aarav,saving.csv,expense,NaN
205,2022-10-24,-5.00000,Transfer to CBA A/c NetBank Aarnav,saving.csv,expense,NaN
206,2022-10-24,-5.00000,Transfer to CBA A/c NetBank Aarav,saving.csv,expense,NaN
207,2022-10-23,-11.60000,KATHMANDU EXPRESS GOSFORD AU,saving.csv,expense,grocery
208,2022-10-23,-100.00000,Cardless Cash for collection Withdraw,saving.csv,expense,NaN
209,2022-10-22,-40.99000,KATHMANDU EXPRESS GOSFORD AU,saving.csv,expense,grocery
210,2022-10-22,-429.28000,CENTRAL COAST COUNC NetBank BPAY 7583 05136254...,saving.csv,expense,NaN
211,2022-10-22,-67.63000,WOOLWORTHS 1100 GOSFORD AU AUS Card xx4263 Val...,saving.csv,expense,grocery
212,2022-10-22,-104.65000,7-ELEVEN 2222 GOSFORD NS AUS Card xx4263 Value...,saving.csv,expense,fuel
213,2022-10-22,-24.83000,COLES 0885 ERINA AU AUS Card xx4263 Value Date...,saving.csv,expense,grocery
214,2022-10-21,-500.00000,Loan Repayment LN REPAY 565288515,saving.csv,expense,NaN
215,2022-10-21,-5.20000,STAR YUE ERINA AU,saving.csv,expense,NaN
216,2022-10-21,-26.16000,HFM ERINA ERINA AU Card xx4289,saving.csv,expense,grocery
217,2022-10-21,-59.00000,ANGUS & COOTE ERINA AU,saving.csv,expense,NaN
218,2022-10-21,-112.65000,eBay O*10-09235-76414 Sydney AU AUS Card xx426...,saving.csv,expense,NaN
219,2022-10-21,-7.30000,COLES EXPRESS 1626 KARIONG AU AUS Card xx4263 ...,saving.csv,expense,grocery
220,2022-10-19,-982.00000,Loan Repayment LN REPAY 566498311,saving.csv,expense,NaN
223,2022-10-19,-4.90000,BAKERS DELIGHT ERIN2 OURIMBAH NS AUS Card xx42...,saving.csv,expense,NaN
224,2022-10-19,-111.23000,COLES 0885 ERINA AU AUS Card xx4263 Value Date...,saving.csv,expense,grocery
225,2022-10-19,-2.55000,MCDONALDS DT 0118 WEST GOSFORD AUS Card xx4263...,saving.csv,expense,eat out
226,2022-10-18,-546.00000,Loan Repayment LN REPAY 784415158,saving.csv,expense,NaN
227,2022-10-18,-18.50000,KMART 1204 ERINA AU AUS Card xx4289 Value Date...,saving.csv,expense,NaN
228,2022-10-18,-22.99000,DAN MURPHY'S 1928 WEST GOSFORD AU AUS Card xx4...,saving.csv,expense,beverage
229,2022-10-18,-169.00000,OFFICEWORKS 0211 WEST GOSFORD AU AUS Card xx42...,saving.csv,expense,stationary
230,2022-10-18,-77.40000,COLES 0821 WEST GOSFORD AU AUS Card xx4263 Val...,saving.csv,expense,grocery
231,2022-10-18,-29.00000,COLES 0821 WEST GOSFORD AU AUS Card xx4263 Val...,saving.csv,expense,grocery
232,2022-10-17,-84.55000,REVSA - ESL CommBank app BPAY 24257 5103005418...,saving.csv,expense,NaN
233,2022-10-17,"-2,500.00000",Transfer to xx9452 CommBank app Credit card,saving.csv,expense,NaN
234,2022-10-17,-5.00000,Transfer to CBA A/c NetBank Aarnav,saving.csv,expense,NaN
235,2022-10-17,-5.00000,Transfer to CBA A/c NetBank Aarav,saving.csv,expense,NaN
236,2022-10-16,-200.00000,TAX OFFICE PAYMENTS NetBank BPAY 75556 5510084...,saving.csv,expense,NaN
237,2022-10-16,-500.00000,TAX OFFICE PAYMENTS NetBank BPAY 75556 5510043...,saving.csv,expense,NaN
238,2022-10-16,"-1,508.40000",C.C.A.S. NetBank BPAY 94482 20022315 CCAS,saving.csv,expense,NaN
241,2022-10-15,-312.00000,COASTAL DENTAL GOSFORD NS AUS Card xx4289 Valu...,saving.csv,expense,health & welbeing
242,2022-10-15,-7.80000,OFFICEWORKS 0211 WEST GOSFORD AU AUS Card xx42...,saving.csv,expense,stationary
243,2022-10-14,-51.35000,HFM ERINA ERINA AU,saving.csv,expense,grocery